@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply bg-slate-800;
}

.no_javascript {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        color: #13beea;
        background-color: #37393e;
        font-family: 'Arial', Gadget, sans-serif;

    }

    .no_javascript h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .no_javascript p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .no_javascript a
    {
        color: #00ff89;
        text-decoration: none;
        font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    }

    .no_javascript a:hover {
      color: #00ff89;
      text-decoration: underline;
      font-size: 1.5rem;
    }

.nav-bar {
  @apply items-center bg-gray-900 p-4 justify-between top-0 w-full fixed;
  z-index: 100;
}

.nav-bar a {
  @apply text-white text-lg font-bold;
}

.nav-bar a:hover {
  @apply text-gray-300;
}

.nav-search-box {
  @apply bg-gray-800 rounded-2xl p-2 flex items-center accent-sky-500 text-white;
  // Add a border to the search box
  border: 1px solid #37393e;
  // Placeholders are a bit transparent, so we need to set the opacity
  // to 1 to remove the transparency
  &::placeholder {
    @apply shadow-none opacity-75;
  }
}


.nav-search-button {
  @apply bg-cyan-600 text-white rounded-2xl p-2;
}

.song-list {

  @apply flex flex-col items-center justify-center w-full;
  // Add a border to the search box
  border: 1px solid #37393e;
  // Placeholders are a bit transparent, so we need to set the opacity
  // to 1 to remove the transparency
  &::placeholder {
    @apply shadow-none opacity-75;
  }

}

.title {
  @apply text-3xl font-bold text-white;
  z-index: 150;
}