@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #37393e;
}

.navbar {
    @apply flex justify-between items-center w-full h-16 px-4 bg-gray-800 text-white;
}

.navbar__logo {
    @apply text-2xl font-bold;
}

.navbar__menu {
    @apply flex items-center;
}

.navitem {
    @apply text-lg font-medium mr-4;
}

.logo {
    @apply text-2xl font-bold;
  scale: .5;
  background-color: #06c8f5;
}